<h1>New School</h1>
<%= form_for @school do |f| %>
	<% if @school.errors.any? %>
		<div id="errors">
			<h2>There are errors with this school:</h2>
			<ul>
				<% @school.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.text_field :name, placeholder: "School Name" %>
	<%= f.submit "Create School" %>
<% end %>